{% extends 'navbar.html' %}

{% block content %}
<style>
    /* SECTION: search table */

    table, th, td {
            border: none;
            border-collapse: collapse;
        }

        table.center {
            margin-left: auto; 
            margin-right: auto;
        }
        .tableFixHead {
            margin-left: auto; 
            margin-right: auto;
            overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
            height: 930px; /* gives an initial height of 200px to the table */
        }
        .tableFixHead thead th {
            position: sticky; /* make the table heads sticky */
            top: 0px; /* table head will be placed from the top of the table and sticks to it */
        }
/* END SECTION: search table */

/* SECTION: action button */

.container_button {
            position: relative;
            border: none;
        }

        .center_button {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .button_style {
            background-color: #4caf50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button_style_delete {
            background-color: #4caf50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button_style:hover {
            color: black;
            background-color: gold;
        }

        .button_style_delete:hover {
            color: black;
            background-color: red;
        }

/* END SECTION: action button */
</style>

<body>
    {% if request.session.account %}
            {% if account.check_account_type %}
                <h1 style="text-align: center; background-color: #333;color: white;">ACCOUNT INFO</h1>


                <table class="center" style="width: 30%;background-color: white;">
                    <tr>
                        <th style="display: none;">Header 1</th>
                        <th style="display: none;">Header 2</th>
                    </tr>
                    <tr style="height: 75px;">
                        <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">USERNAME</td>
                        <td style="padding: 5px;padding-left: 20px;width: 425px;">
                            {{account.username}}
                        </td>
                    </tr>
                    <tr style="height: 75px;">
                            <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">FIRST NAME</td>
                            <td style="padding: 5px;padding-left: 20px;width: 425px;">
                                {{account.firstname}}
                            </td>
                    </tr>
                    <tr style="height: 75px;">
                        <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">LAST NAME</td>
                        <td style="padding: 5px;padding-left: 20px;width: 425px;">
                            {{account.lastname}}
                        </td>
                </tr>
                <tr style="height: 75px;">
                    <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">PHONE</td>
                    <td style="padding: 5px;padding-left: 20px;width: 425px;">
                        {{account.phone}}
                    </td>
                </tr>
                <tr style="height: 75px;">
                    <td style="padding: 5px;padding-left: 10px; background-color: #777;color: white;">EMAIL</td>
                    <td style="padding: 5px;padding-left: 20px;width: 425px;">
                        {{account.email}}
                    </td>
                </tr>
                </table>

                <h1 style="text-align: center; background-color: #4caf50;color: white;">REQUESTS</h1>

                <div class="tableFixHead" style="width: 75%;text-align: center;">
                    <table class="center" style="width: 100%;background-color: white;">
                        <thead>
                            <tr style="height: 75px;">
                                <th style="padding: 5px;background-color: #777;color: white;width: 5%;">NUM.</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 20%;">IMG.</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 30%;">CAR</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 5%;">QUANTITY</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;">PRICE</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;">STATUS</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;"></th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;"></th>
                            </tr>
                        </thead>
                        {% for con in request %}
                            {% if con.customer == account.username %}
                                <form action="/editrequest" method="POST">
                        
                                    {% csrf_token %}
                                    <tr style="height: 75px;">
                                        <td style="padding: 5px;text-align: center;">{{forloop.counter}}</td>
                                        <td style="padding: 5px;text-align: center;">
                                            <a href="/carinfo/{{con.carbrand}}_{{con.carmodel}}_{{con.caryear}}">
                                                <img src="{{con.frontimg.url}}" style="width: 200px;height: 200px;">
                                            </a>
                                        </td>
                                        <td style="padding: 5px;padding-left: 20px;text-transform: uppercase;">{{con.car}}</td>
                                        <td style="padding: 5px;text-align: center;">
                                            <input style="width: 95%;height: 50px;background-color: white;border: none;text-align: center;" type="text" name="quantity" value="{{con.quantity}}">
                                        </td>
                                        <td style="padding: 5px;text-align: center;">Gil {{con.totalprice}}</td>
                                        {% if con.current_status %}
                                            <td style="padding: 5px;background-color: green; color: white;text-align: center;">ACTIVE</td>
                                            <td style="padding: 5px;text-align: center">
                                                <button class="button_style" style="width: 95%; height: 95%; font-size: xx-large" type="submit" name="action_button" value="update">UPDATE</button>
                                            </td>
                                            <td style="padding: 5px;text-align: center">
                                                <button class="button_style_delete" style="width: 95%; height: 95%; font-size: xx-large;" name="action_button" value="delete" onclick="myFunction(event)" id="myBtn">DELETE</button>
                                            </td>
                                        {% else %}
                                            <td style="padding: 5px;background-color: #333; color: white;text-align: center;">FINISHED</td>
                                            <td style="padding: 5px;text-align: center">
                                                <button style="width: 95%; height: 95%; font-size: xx-large;background-color: #333">UPDATE</button>
                                            </td>
                                            <td style="padding: 5px;text-align: center">
                                                <button style="width: 95%; height: 95%; font-size: xx-large;background-color: #333">DELETE</button>
                                            </td>
                                        {% endif %}
                                        
                                    </tr>
                                    <script>
                                        function myFunction(e) {
                                            var txt;
                                            if (!confirm("Do you wish to delete this request?")) {
                                                e.preventDefault();
                                            }
                                        }
                                    </script>
                                </form>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <h1 style="text-align: center; background-color: #4caf50;color: white;">CONTRACTS</h1>

                <div class="tableFixHead" style="width: 75%;text-align: center;">
                    <table class="center" style="width: 100%;background-color: white;">
                        <thead>
                            <tr style="height: 75px;">
                                <th style="padding: 5px;background-color: #777;color: white;width: 5%;">NUM.</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 30%;">CAR</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 15%;">START DATE</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 15%;">END DATE</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 15%;">TOTAL PRICE</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;">STATUS</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;"></th>
                            </tr>
                        </thead>
                        {% for con in contract %}
                            {% if con.customer == account.username %}
                                <tr style="height: 75px;">
                                    <td style="padding: 5px;text-align: center;">{{forloop.counter}}</td>
                                    <td style="padding: 5px;padding-left: 20px;text-transform: uppercase;">{{con.car}}</td>
                                    <td style="padding: 5px;text-align: center;">{{con.startdate}}</td>
                                    <td style="padding: 5px;text-align: center;">{{con.enddate}}</td>
                                    <td style="padding: 5px;text-align: center;">Gil {{con.cost}}</td>
                                    {% if con.has_started %}
                                        {% if con.his_past_due %}
                                            <td style="padding: 5px;background-color: red; color: white;text-align: center;">FINISHED</td>
                                        {% else %}
                                            <td style="padding: 5px;background-color: green; color: white;text-align: center;">ACTIVE</td>
                                        {% endif %}
                                    {% else %}
                                        <td style="padding: 5px;background-color: #333; color: white;text-align: center;">PENDING</td>
                                    {% endif %}
                                    <td style="padding: 5px;text-align: center;">
                                        <a href="contractinfo/{{con.info_string}}">VIEW</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% else %}
            <h1 style="text-align: center; background-color: #333;color: white;">ACCOUNT INFO</h1>


                <table class="center" style="width: 30%;background-color: white;">
                    <tr>
                        <th style="display: none;">Header 1</th>
                        <th style="display: none;">Header 2</th>
                    </tr>
                    <tr style="height: 75px;">
                        <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">USERNAME</td>
                        <td style="padding: 5px;padding-left: 20px;width: 425px;">
                            {{account.username}}
                        </td>
                    </tr>
                    <tr style="height: 75px;">
                            <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">FIRST NAME</td>
                            <td style="padding: 5px;padding-left: 20px;width: 425px;">
                                {{account.firstname}}
                            </td>
                    </tr>
                    <tr style="height: 75px;">
                        <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">LAST NAME</td>
                        <td style="padding: 5px;padding-left: 20px;width: 425px;">
                            {{account.lastname}}
                        </td>
                </tr>
                <tr style="height: 75px;">
                    <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">PHONE</td>
                    <td style="padding: 5px;padding-left: 20px;width: 425px;">
                        {{account.phone}}
                    </td>
                </tr>
                <tr style="height: 75px;">
                    <td style="padding: 5px;padding-left: 10px; background-color: #777;color: white;">EMAIL</td>
                    <td style="padding: 5px;padding-left: 20px;width: 425px;">
                        {{account.email}}
                    </td>
                </tr>
                </table>

                <h1 style="text-align: center; background-color: #4caf50;color: white;">REQUESTS</h1>

                <div class="tableFixHead" style="width: 75%;text-align: center;">
                    <table class="center" style="width: 100%;background-color: white;">
                        <thead>
                            <tr style="height: 75px;">
                                <th style="padding: 5px;background-color: #777;color: white;width: 5%;">NUM.</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 20%;">IMG.</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 20%;">CUSTOMER</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 20%;">CAR</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 5%;">QUANTITY</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;">PRICE</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;">STATUS</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 5%;"></th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 5%;"></th>
                            </tr>
                        </thead>
                        {% for con in request %}
                        <form action="/editrequest" method="POST">
                
                            {% csrf_token %}
                            <tr style="height: 75px;">
                                <td style="padding: 5px;text-align: center;">{{forloop.counter}}</td>
                                <td style="padding: 5px;text-align: center;">
                                    <a href="/carinfo/{{con.carbrand}}_{{con.carmodel}}_{{con.caryear}}">
                                        <img src="{{con.frontimg.url}}" style="width: 200px;height: 200px;">
                                    </a>
                                </td>
                                <td style="padding: 5px;padding-left: 20px;text-transform: uppercase;">{{con.customer}}</td>
                                <td style="padding: 5px;padding-left: 20px;text-transform: uppercase;">{{con.car}}</td>
                                <td style="padding: 5px;text-align: center;">
                                    <input style="width: 95%;height: 50px;background-color: white;border: none;text-align: center;" type="text" name="quantity" value="{{con.quantity}}">
                                </td>
                                <td style="padding: 5px;text-align: center;">Gil {{con.totalprice}}</td>
                                {% if con.current_status %}
                                    <td style="padding: 5px;background-color: green; color: white;text-align: center;">ACTIVE</td>
                                    <td style="padding: 5px;text-align: center;">
                                        <button class="button_style" style="width: 95%; height: 95%; font-size: xx-large" type="submit" name="action_button" value="update">ACCEPT</button>
                                    </td>
                                    <td style="padding: 5px;text-align: center;">
                                        <button class="button_style_delete" style="width: 95%; height: 95%; font-size: xx-large;" name="action_button" value="delete" onclick="myFunction()" id="myBtn">DELETE</button>
                                    </td>
                                {% else %}
                                    <td style="padding: 5px;background-color: #333; color: white;text-align: center;">FINISHED</td>
                                    <td style="padding: 5px;text-align: center;">
                                        <button style="width: 95%; height: 95%; font-size: xx-large;background-color: #333 " name="action_button" value="update">ACCEPT</button>
                                    </td>
                                    <td style="padding: 5px;text-align: center;">
                                        <button style="width: 95%; height: 95%; font-size: xx-large;background-color: #333" name="action_button" value="delete" onclick="myFunction()" id="myBtn">DELETE</button>
                                    </td>
                                {% endif %}
                                
                            </tr>
                            <script>
                                function myFunction() {
                                    var txt;
                                    if (confirm("Do you wish to delete this request?")) {
                                        document.getElementById("myBtn").type = "submit"
                                    } else {
                                        document.getElementById("myBtn").type = "button"
                                    }
                                    document.getElementById("demo").innerHTML = txt;
                                }
                            </script>
                        </form>
                        {% endfor %}
                    </table>
                </div>

                <h1 style="text-align: center; background-color: #4caf50;color: white;">CONTRACTS</h1>

                <div class="tableFixHead" style="width: 75%;text-align: center;">
                    <table class="center" style="width: 100%;background-color: white;">
                        <thead>
                            <tr style="height: 75px;">
                                <th style="padding: 5px;background-color: #777;color: white;width: 5%;">NUM.</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 30%;">CAR</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 15%;">START DATE</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 15%;">END DATE</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 15%;">TOTAL PRICE</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;">STATUS</th>
                                <th style="padding: 5px;background-color: #777;color: white;width: 10%;"></th>
                            </tr>
                        </thead>
                        {% for con in contract %}
                        <tr style="height: 75px;">
                            <td style="padding: 5px;text-align: center;">{{forloop.counter}}</td>
                            <td style="padding: 5px;padding-left: 20px;text-transform: uppercase;">{{con.car}}</td>
                            <td style="padding: 5px;text-align: center;">{{con.startdate}}</td>
                            <td style="padding: 5px;text-align: center;">{{con.enddate}}</td>
                            <td style="padding: 5px;text-align: center;">Gil {{con.cost}}</td>
                            {% if con.has_started %}
                                {% if con.his_past_due %}
                                    <td style="padding: 5px;background-color: red; color: white;text-align: center;">FINISHED</td>
                                {% else %}
                                    <td style="padding: 5px;background-color: green; color: white;text-align: center;">ACTIVE</td>
                                {% endif %}
                            {% else %}
                                <td style="padding: 5px;background-color: #333; color: white;text-align: center;">PENDING</td>
                            {% endif %}
                            <td style="padding: 5px;text-align: center;">
                                <a href="contractinfo/{{con.info_string}}">VIEW</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        
    {% else %}
        <h1>YOU NEED TO BE LOGGED IN TO VIEW THIS PAGE</h1>
    {% endif %}


</body>

{% endblock %}