{% extends 'account_base.html' %}
{% block content_sub %}
                <style>
        
        /* SECTION: nav bar */
        
                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        background-color: #555;
                        position: sticky;
                        top: 0;
                        z-index: 100;
                        font-size: x-large;
                    }
                    li {
                        float: left;
                    }
                    li a, .dropbtn {
                        display: block;
                        color: white;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                    }
                    li a:hover, .dropdown:hover .dropbtn {
                        background-color: #111;
                    }
                    .active {
                        background-color: #4CAF50;
                    }
        
        /* END SECTION: nav bar */
        
        /* SECTION: dropdown button */
        
                    li.dropdown {
                        display: inline-block;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #F9F9F9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
                        z-index: 1;
                    }
                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        text-align: left;
                    }
                    .dropdown-content a:hover {
                        background-color: #4CAF50;
                    }
                    .dropdown:hover .dropdown-content {
                        display: block;
                    }
        
        /* END SECTION: dropdown button */
        
        /* SECTION: bg image */
        
                body {
                        background-image: url('https://img.freepik.com/premium-photo/black-generic-sport-unbranded-car-isolated-dark-background-3d-illustration_110488-1969.jpg');
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-size: 100% 100%;
                    }
        
        /* END SECTION: bg image */

        /* SECTION: search table */

        table, th, td {
                border: none;
                border-collapse: collapse;
            }
    
            table.center {
                margin-left: auto; 
                margin-right: auto;
            }
            .tableFixHead {
                margin-left: auto; 
                margin-right: auto;
                overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
                height: 930px; /* gives an initial height of 200px to the table */
            }
            .tableFixHead thead th {
                position: sticky; /* make the table heads sticky */
                top: 0px; /* table head will be placed from the top of the table and sticks to it */
            }
    /* END SECTION: search table */
    
    /* SECTION: action button */
    
    .container_button {
                position: relative;
                border: none;
            }
    
            .center_button {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    
            .button_style {
                background-color: #4caf50;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
    
            .button_style_delete {
                background-color: #4caf50;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
    
            .button_style:hover {
                color: black;
                background-color: gold;
            }
    
            .button_style_delete:hover {
                color: black;
                background-color: red;
            }
    
    /* END SECTION: action button */
        
                </style>
                <h1 style="text-align: center; background-color: #333;color: white;">ACCOUNT INFO</h1>


                <table class="center" style="width: 30%;background-color: white;">
                    <tr>
                        <th style="display: none;">Header 1</th>
                        <th style="display: none;">Header 2</th>
                    </tr>
                    <tr style="height: 75px;">
                        <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">USERNAME</td>
                        <td style="padding: 5px;padding-left: 20px;width: 425px;">
                            {{account.username}}
                        </td>
                    </tr>
                    <tr style="height: 75px;">
                            <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">FIRST NAME</td>
                            <td style="padding: 5px;padding-left: 20px;width: 425px;">
                                {{account.firstname}}
                            </td>
                    </tr>
                    <tr style="height: 75px;">
                        <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">LAST NAME</td>
                        <td style="padding: 5px;padding-left: 20px;width: 425px;">
                            {{account.lastname}}
                        </td>
                </tr>
                <tr style="height: 75px;">
                    <td style="padding: 5px;padding-left: 10px;background-color: #777;color: white;">PHONE</td>
                    <td style="padding: 5px;padding-left: 20px;width: 425px;">
                        {{account.phone}}
                    </td>
                </tr>
                <tr style="height: 75px;">
                    <td style="padding: 5px;padding-left: 10px; background-color: #777;color: white;">EMAIL</td>
                    <td style="padding: 5px;padding-left: 20px;width: 425px;">
                        {{account.email}}
                    </td>
                </tr>
                </table>
{% endblock %}