{% extends 'navbar.html' %}

{% block content %}
<style>

    /* SECTION: image gallery */

        div.gallery {
            border: 1px solid #ccc;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }

/* END SECTION: image gallery */

/* SECTION: responsive image gallery */

        * {
            box-sizing: border-box;
        }

        .responsive {
            padding: 0 6px;
            float: left;
            width: 33%;
        }

        @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
        }

        @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

/* END SECTION: responsive image gallery */
    
    /* SECTION: split columns */
    
    .column {
        float: left;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }
      
      .left {
        width: 20%;
      }
      
      .right {
        width: 80%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    /* END SECTION: split columns */

    /* SECTION: vertical menu */
    .vertical-menu {
        width: 100%;
      }
      
      .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
      }
      
      .vertical-menu a:hover {
        background-color: #ccc;
      }
      
      .vertical-menu a.active {
        background-color: #04AA6D;
        color: white;
      }
    /* END SECTION: vertical menu */
    
        </style>
        <div class="row">
            <div class="column left">
                <div class="vertical-menu">
                    <a href="/account/info">ACCOUNT INFO</a>
                    {% if request.session.account %}
                        {% if account.check_account_type %}
                        {% else %}
                            <a href="/account/customers">CUSTOMERS</a>
                        {% endif %}
                    {% endif %}
                    <a href="/account/requests">REQUESTS</a>
                    <a href="/account/contracts">CONTRACTS</a>
                    <a href="/account/payments">PAYMENTS</a>
                    {% if request.session.account %}
                        {% if account.check_account_type %}
                        {% else %}
                            <a href="/account/stats">STATISTICS</a>
                        {% endif %}
                    {% endif %}
                  </div>
            </div>

            <!-- {% comment %} <script> 
                function myFunction() { 
                    document.getElementById("SelectCategory").submit(); 
                } 
            </script>  {% endcomment %} -->

            <div class="column right" style="width=100%">
                {% block content_sub %}
                {% endblock %}
            </div>
        </div>
{% endblock %}