{% extends 'navbar.html' %}

{% load cart %}
{% load customfilter %}

{% block carinfo %}

    <style>

/* SECTION: image gallery */

        div.gallery {
            opacity: 0.5;
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 500px;
        }
        
        div.gallery:hover {
            opacity: 1;
            border: 3px solid #777;
        }
        
        div.gallery img {
            width: 100%;
            height: auto;
        }
        
        div.desc {
            padding: 15px;
            text-align: center;
        }

        div.imageContainer {
            display: flex;
            justify-content: center;
        }

/* END SECTION: image gallery */

/* SECTION: content table */

        table, th, td {
            border: none;
            border-collapse: collapse;
        }

        table.center {
            margin-left: auto; 
            margin-right: auto;
        }

/* END SECTION: content table */

/* SECTION: action button */

        .container_button {
            height: 100px;
            position: relative;
            border: none;
        }

        .center_button {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .button_style {
            background-color: #4caf50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button_style:hover {
            color: black;
            background-color: gold;
        }

/* END SECTION: action button */

/* SECTION: slideshow gallery */

        body {
            font-family: Arial;
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }

        img {
            vertical-align: middle;
        }

        /* Position the image container (needed to position the left and right arrows) */
        .container {
            position: relative;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
            width: 45%;
            margin-left: auto;
            margin-right: auto;
        }

        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .prev,.next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            background-color: #555;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,.next:hover {
            color: white;
            background-color: #4caf50;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* Container for image text */
        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
        }

        .row:after {
            margin-left: auto;
            margin-right: auto;
            content: "";
            display: table;
            clear: both;
        }

        /* Six columns side by side */
        .column {
            float: left;
            width: 500px;
        }

        /* Add a transparency effect for thumnbail images */
        .demo {
            opacity: 0.5;
        }

        .active,.demo:hover {
            opacity: 1;
        }

/* END SECTION: image gallery */

/* SECTION: split columns */

        /* Create two equal columns that floats next to each other */
        .s-column {
            float: left;
            width: 50%;
            padding: 5px;
        }

        /* Clear floats after the columns */
        .s-row:after {
            content: "";
            display: table;
            clear: both;
        }

        .left {
            width: 60%;
        }

        .right {
            width: 40%;
        }

/* END SECTION: split columns */

/* SECTION: scroll gallery */

div.scroll-container {
                background-color: #d7d0d0;
                overflow: auto;
                white-space: nowrap;
                padding: 10px;
            }

            div.scroll-container img {
                width: 400px;
                height: 400px;
                padding: 10px;
            }

            div.gallery {
                border: 1px solid #777;
            }

            div.gallery:hover {
                border: 1px solid #555;
            }

            div.desc {
                padding: 15px;
                text-align: center;
            }
            .cell {
                display: inline-block;
                word-spacing: normal;
                letter-spacing: normal;
                white-space : normal;
            }

/* END SECTION: scroll gallery */

    </style>
    
    {% for c in carinfo %}
    <h1 style="text-align: center; background-color: #333;color: white;">{{c.brand.name}} {{c.model}} {{c.year}}</h1>
        
    <div class="container">
        <div class="mySlides">
            <div class="numbertext">1/3</div>
            <img src="{{c.front.url}}" style="width: 100%;">
        </div>
        <div class="mySlides">
            <div class="numbertext">2/3</div>
            <img src="{{c.back.url}}" style="width: 100%;">
        </div>
        <div class="mySlides">
            <div class="numbertext">3/3</div>
            <img src="{{c.interior.url}}" style="width: 100%;">
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column" style="background-color: white;">
                <img class="demo cursor" style="width: 500px; height: 400px;overflow: hidden;" src="{{c.front.url}}" onclick="currentSlide(1)" alt="Front Exterior">
            </div>
            <div class="column" style="background-color: white;">
                <img class="demo cursor" style="width: 500px; height: 400px;overflow: hidden;" src="{{c.back.url}}" onclick="currentSlide(2)" alt="Back Exterior">
            </div>
            <div class="column" style="background-color: white;">
                <img class="demo cursor" style="width: 500px; height: 400px;overflow: hidden;" src="{{c.interior.url}}" onclick="currentSlide(3)" alt="Interior">
            </div>
        </div>
    </div>

    <script>
        let slideIndex = 1;
            showSlides(slideIndex);
        
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>

    <h1></h1>

    <div class="s-row" style="background-color: white;">
        <div class="s-column left">
            <h3 style="padding: 15px;padding-left: 50px; font-size: x-large;">DESCRIPTION</h3>
            <p style="padding: 15px;padding-left: 50px;">{{c.desintext}}</p>
        </div>
        <div class="s-column right">
            <table class="center" style="width: 100%;">
                <tr>
                    <th style="display: none;">Header 1</th>
                    <th style="display: none;">Header 2</th>
                </tr>
                <tr style="height: 50px;">
                    <td style="padding-left: 50px;padding-top: 20px;padding-bottom: 20px; background-color: #777;color: white;">MODEL</td>
                    <td style="padding-left: 50px;width: 550px;">{{c.model}}</td>
                </tr>
                <tr style="height: 50px;">
                    <td style="padding-left: 50px;padding-top: 20px;padding-bottom: 20px;background-color: #777;color: white;">BRAND</td>
                    <td style="padding-left: 50px;width: 550px;">
                        <a href="/brandinfo/{{c.brand.id}}">{{c.brand.name}}</a>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td style="padding-left: 50px;padding-top: 20px;padding-bottom: 20px;background-color: #777;color: white;">YEAR</td>
                    <td style="padding-left: 50px;width: 550px;">{{c.year}}</td>
                </tr>
                <tr style="height: 50px;">
                    <td style="padding-left: 50px;padding-top: 20px;padding-bottom: 20px;background-color: #777;color: white;">CATEGORY</td>
                    <td style="padding-left: 50px;width: 550px;">
                        <a href="/category/{{c.category.id}}">{{c.category}}</a>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td style="padding-left: 50px;padding-top: 20px;padding-bottom: 20px;;background-color: #777;color: white;">PRICE</td>
                    <td style="padding-left: 50px;width: 550px;">Gil {{c.price}} / car / day</td>
                </tr>
                <tr style="height: 50px;">
                    <td style="padding-left: 50px;padding-top: 20px;padding-bottom: 20px;background-color: #777;color: white;">IN STOCK</td>
                    <td style="padding-left: 50px;width: 550px;">{{c.instock}}</td>
                </tr>
            </table>
                <!-- <div class="container_button">
                    <div class="center_button">
                        <div class="row no-gutters">
                            <form action="/carinfo/{{c.id}}" class="col-2 " method="post">
                                {% csrf_token %}
                                <input hidden type="text" name='carcart' value='{{c.id}}'>
                                <input hidden type="text" name='remove' value='True'>
                                <input type="submit" value=" - " class="btn btn-block btn-success border-right">
                            </form>
                            <div class="text-center col btn btn-success" style="width: 600px; height: 100px; font-size: xx-large">{{c|cart_quantity:request.session.cart}} in Cart</div>
                            <form action="/carinfo/{{c.id}}" class="col-2 " method="post">
                                {% csrf_token %}
                                <input hidden type="text" name='carcart' value='{{c.id}}'>
                                <input type="submit" value=" + " class="btn btn-block btn-success border-left">
                            </form>
                        </div>
                    </div>
                </div> -->
                <!-- {% comment %} <div class="container_button">
                    <div class="center_button">
                        <button class="button_style" style="width: 600px; height: 100px; font-size: xx-large">ADDED TO CART</button>
                    </div>
                </div> {% endcomment %} -->
                {% if request.session.customer %}
                <div class="container_button">
                    <div class="center_button">
                        <form action="/rentcar" method="POST" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name='car' value='{{c.id}}'>
                            <button class="button_style" style="width: 600px; height: 100px; font-size: xx-large" type="submit">RENT CAR</button>
                        </form>
                        
                    </div>
                </div>
                {% else %}
                <div class="container_button">
                    <div class="center_button">
                        <form action="/login " method="POST" class="btn-block">
                            {% csrf_token %}
                            <button class="button_style" style="width: 600px; height: 100px; font-size: xx-large" type="submit">RENT CAR</button>
                        </form>
                        
                    </div>
                </div>
                {% endif %}
                
            <!-- <div class="container_button">
                <div class="center_button">
                    <a href="/login">
                        <button class="button_style" style="width: 600px; height: 100px; font-size: xx-large">RENT CAR</button>
                    </a>
                </div>
            </div> -->
        </div>
    </div>
    {% endfor %}
    <p></p>
    <h1 style="background-color: #4CAF50; color: white;font-size: xxx-large">SIMILAR BRAND</h1>
    <div class="scroll-container">
        {% for carb in carbrand %}
        <a href="/carinfo/{{carb.id}}">
            <div class="cell">
                <img src="{{carb.front.url}}" alt="Cinque Terre">
                <p style="text-align: center;text-transform: uppercase;">{{carb.brand.name}} {{carb.model}} {{carb.year}}</p>
            </div>
        </a>
        {% endfor %}
    </div>

    <p></p>
    <h1 style="background-color: #4CAF50; color: white;font-size: xxx-large">SIMILAR CATEGORY</h1>
    <div class="scroll-container">
        {% for carc in carcategory %}
        <a href="/carinfo/{{carc.id}}">
            <div class="cell">
                <img src="{{carc.front.url}}" alt="Cinque Terre">
                <p style="text-align: center;text-transform: uppercase;">{{carc.brand.name}} {{carc.model}} {{carc.year}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    
{% endblock %}