{% extends 'navbar.html' %}

{% block content %}

<style>
    /* SECTION: content table */

    table, th, td {
            border: none;
            border-collapse: collapse;
        }

        table.center {
            margin-left: auto; 
            margin-right: auto;
        }

/* END SECTION: content table */

/* SECTION: action button */

.container_button {
            position: relative;
            border: none;
        }

        .center_button {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .button_style {
            background-color: #4caf50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button_style_delete {
            background-color: #4caf50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button_style:hover {
            color: black;
            background-color: gold;
        }

        .button_style_delete:hover {
            color: black;
            background-color: red;
        }

/* END SECTION: action button */
</style>

<body>
    <h2 style="text-align: center; background-color: #333;color: white;font-size: xx-large;"> CART </h2>
    <table class="center" style="width: 80%;background-color: white;">
        <tr style="height: 75px;">
            <th style="padding: 5px;background-color: #777;color: white;width: 5%">NUM.</th>
            <th style="padding: 5px;background-color: #777;color: white;width: 20%">IMAGE</th>
            <th style="padding: 5px;background-color: #777;color: white;width: 20%">PRODUCT NAME</th>
            <th style="padding: 5px;background-color: #777;color: white;width: 17%">PRICE</th>
            <th style="padding: 5px;background-color: #777;color: white;width: 11%">QUANTITY</th>
            <th style="padding: 5px;background-color: #777;color: white;width: 17%">TOTAL</th>
            <th style="padding: 5px;background-color: #777;color: white;width: 5%">UPDATE QUANTITY</th>
            <th style="padding: 5px;background-color: #777;color: white;width: 5%">DELETE REQUEST</th>
        </tr>
        {% for car in cart_items %}
        <form action="/editrequest" method="POST">

            {% csrf_token %}

            <tr style="height: 75px;">
                <td style="padding: 5px;text-align: center">{{forloop.counter}}</td>
                <td style="padding: 5px;"></td>
                <td style="padding: 5px;">
                    <input style="width: 95%;height: 50px;background-color: white;border: none;text-align: center;" type="text" name="car_name" value="{{car.car}}" readonly>
                </td>
                <td style="padding: 5px;text-align: center"></td>
                <td style="padding: 5px;text-align: center">
                    <input style="width: 95%;height: 50px;background-color: white;border: none;text-align: center;" type="text" name="quantity" value="{{car.quantity}}">
                </td>
                <td style="padding: 5px;text-align: center"></td>
                <td style="padding: 5px;text-align: center">
                    <button class="button_style" style="width: 95%; height: 95%; font-size: xx-large" type="submit" name="action_button" value="update">UPDATE</button>
                </td>
                <td style="padding: 5px;text-align: center">
                    <button class="button_style_delete" style="width: 95%; height: 95%; font-size: xx-large;" type="submit" name="action_button" value="delete">DELETE</button>
                </td>
            </tr>
        </form>
        {% endfor %}
        <tr style="height: 75px;">
            <th colspan="4" style="padding: 5px;"></th>
            <th colspan="" style="padding: 5px;">TOTAL</th>
            <th style="padding: 5px;"></th>
        </tr>
    </table>
</body>
    
{% endblock %}