{% extends 'navbar.html' %}

{% load cart %}
{% load customfilter %}

{% block cart %}

<style>
    /* SECTION: content table */

    table, th, td {
            border: none;
            border-collapse: collapse;
        }

        table.center {
            margin-left: auto; 
            margin-right: auto;
        }

/* END SECTION: content table */

/* SECTION: action button */

.container_button {
            height: 100px;
            position: relative;
            border: none;
        }

        .center_button {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .button_style {
            background-color: #4caf50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button_style:hover {
            color: black;
            background-color: gold;
        }

/* END SECTION: action button */
</style>

<body>
    <h2 style="text-align: center; background-color: #333;color: white;font-size: xx-large;"> CART </h2>
    <table class="center" style="width: 30%;background-color: white;">
        <tr style="height: 75px;">
            <th style="padding: 5px;background-color: #777;color: white;">NUM.</th>
            <th style="padding: 5px;background-color: #777;color: white;">IMAGE</th>
            <th style="padding: 5px;background-color: #777;color: white;">PRODUCT NAME</th>
            <th style="padding: 5px;background-color: #777;color: white;">PRICE</th>
            <th style="padding: 5px;background-color: #777;color: white;">QUANTITY</th>
            <th style="padding: 5px;background-color: #777;color: white;">TOTAL</th>
        </tr>
        {% for car in cars %}
        <tr style="height: 75px;">
            <td style="padding: 5px;">{{forloop.counter}}</td>
            <td style="padding: 5px;">{{car.front.url}}</td>
            <td style="padding: 5px;">{{car.brand.name}} {{car.model}} {{car.year}}</td>
            <td style="padding: 5px;">{{car.price|currency}}</td>
            <td style="padding: 5px;">{{car|cart_quantity:request.session.cart}}</td>
            <td style="padding: 5px;">{{car|price_total:request.session.cart|currency}}</td>
        </tr>
        {% endfor %}
        <tr style="height: 75px;">
            <th colspan="4" style="padding: 5px;"></th>
            <th colspan="" style="padding: 5px;">TOTAL</th>
            <th style="padding: 5px;">{{cars|total_cart_price:request.session.cart|currency}}</th>
        </tr>
    </table>
</body>
    
{% endblock %}