{% extends 'navbar.html' %}

{% load cart %}
{% load customfilter %}

{% block carinfo %}
<style>

    /* SECTION: image gallery */

        div.gallery {
            border: 1px solid #ccc;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }

/* END SECTION: image gallery */

/* SECTION: responsive image gallery */

        * {
            box-sizing: border-box;
        }

        .responsive {
            padding: 0 6px;
            float: left;
            width: 33%;
        }

        @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
        }

        @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

/* END SECTION: responsive image gallery */
    
    /* SECTION: split columns */
    
    .column {
        float: left;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }
      
      .left {
        width: 25%;
      }
      
      .right {
        width: 75%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    /* END SECTION: split columns */

    /* SECTION: vertical menu */
    .vertical-menu {
        width: 90%;
      }
      
      .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
      }
      
      .vertical-menu a:hover {
        background-color: #ccc;
      }
      
      .vertical-menu a.active {
        background-color: #04AA6D;
        color: white;
      }
    /* END SECTION: vertical menu */
    
        </style>

        <h1 style="text-align: center; background-color: #333;color: white;">CATEGORY</h1>

        <div class="row">
            <div class="column left">
                <div class="vertical-menu">
                    <a href="/category/0" class="active">Category</a>
                    {% for ctgr in category %}
                    <a href="/category/{{ctgr.id}}">{{ctgr.name}}</a>
                    {% endfor %}
                  </div>
            </div>

            <!-- {% comment %} <script> 
                function myFunction() { 
                    document.getElementById("SelectCategory").submit(); 
                } 
            </script>  {% endcomment %} -->

            <div class="column right">
                {% for c in car %}
                <div class="responsive">
                    <div class="gallery">
                        <a href="/carinfo/{{c.id}}">
                            <img src="{{c.front.url}}" alt="Cinque Terre" style="width: 100%;height: 400px;">
                        </a>
                        <div class="desc"  style="background-color: #555; color: white;">{{c.brand.name}} {{c.model}} {{c.year}}</div>
                    </div>
                    <p></p>
                </div>
                {% endfor %}
                
            </div>
        </div>
{% endblock %}