{% extends 'navbar.html' %}

{% block signup %}

<style>
    /* SECTION: content table */

    table, th, td {
            border: none;
            border-collapse: collapse;
        }

        table.center {
            margin-left: auto; 
            margin-right: auto;
        }

/* END SECTION: content table */

/* SECTION: action button */

.container_button {
            height: 100px;
            position: relative;
            border: none;
        }

        .center_button {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .button_style {
            background-color: #4caf50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button_style:hover {
            color: black;
            background-color: gold;
        }

/* END SECTION: action button */
</style>

<body>
    <h2 style="text-align: center; background-color: #333;color: white;font-size: xx-large;"> SIGNUP </h2>
    <form action="/signup" method="POST" style="text-align: center;">
                
        {% csrf_token %}

        {% if error%}
        <div class="alert alert-danger" role="alert" style="background-color: red;color: #333;font-size: xx-large;">
            {{error}}
        </div>
        <p></p>
        {% endif %}
        <!-- firstname -->
        <table class="center" style="width: 30%;background-color: white;">
            <tr>
                <th style="display: none;">Header 1</th>
                <th style="display: none;">Header 2</th>
            </tr>
            <tr style="height: 75px;">
                <div class="form-group">
                    <td style="padding: 5px;background-color: #777;color: white;">FIRST NAME</td>
                    <td style="padding: 5px;width: 425px;">
                        <input style="width: 95%;height: 50px;background-color: white;border: none;text-align: center;" type="text" name="firstname"
             id="" value="{{values.first_name}}" class="form-control form-control-sm" 
             placeholder="">
                    </td>
                    
                </div>
            </tr>
            <tr style="height: 75px;">
                <div class="form-group">
                    <td style="padding: 5px;background-color: #777;color: white;">LAST NAME</td>
                    <td style="padding: 5px;width: 425px;">
                        <input style="width: 95%;height: 50px;background-color: white;border: none;text-align: center;" type="text" name="lastname" 
            id="" value="{{values.last_name}}" class="form-control form-control-sm"
            >
                    </td>
                    
                </div>
            </tr>
            <tr style="height: 75px;">
                <div class="form-group">
                    <td style="padding: 5px;background-color: #777;color: white;">PHONE</td>
                    <td style="padding: 5px;width: 425px;">
                        <input style="width: 95%;height: 50px;background-color: white;border: none;text-align: center;" type="text" name="phone" 
            id="" class="form-control form-control-sm"
            value="{{values.phone}}"
            placeholder="9876543210"
            >
                    </td>
                    
                </div>
            </tr>
            <tr style="height: 75px;">
                <div class="form-group">
                    <td style="padding: 5px;background-color: #777;color: white;">EMAIL</td>
                    <td style="padding: 5px;width: 425px;">
                        <input style="width: 95%;height: 50px;background-color: white;border: none;text-align: center;"  required type="email" name="email" id=""
            value="{{values.email}}" 
            class=" form-control-sm form-control" placeholder="abc@gmail.com">
                    </td>
                    
                </div>
            </tr>
            <tr style="height: 75px;">
                <div class="form-group">
                    <td style="padding: 5px;background-color: #777;color: white;">PASSWORD</td>
                    <td style="padding: 5px;width: 425px;">
                        <input style="width: 95%;height: 50px;background-color: white;border: none;text-align: center;" type="password" 
            name="password" 
            id=""
             class="form-control form-control-sm">
                    </td>
                    
                </div>
            </tr>
            <!-- <tr style="height: 75px;">
                <div class="form-group">
                    
                    <td style="padding: 5px;">Check me out</td>
                    <td style="padding: 5px;">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </td>
                    
                </div>
            </tr> -->
                
            </tr>
        </table>

        <p></p>
        <p></p>
        <div class="container_button">
            <div class="center_button">
                <button class="button_style" style="width: 500px; height: 100px; font-size: xx-large" type="submit">CREATE AN ACCOUNT</button>
            </div>
        </div>

    </form>
</body>

{% endblock %}